<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.hydra.otel-agent</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/bin/otelcol-contrib</string>
    <string>--config</string>
    <string>/etc/hydra/otel-agent-config.yaml</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/usr/local/bin:/usr/bin:/bin</string>
    <key>NODE_ID</key>
    <string>{{ hydra_node_id }}</string>
    <key>HOSTNAME</key>
    <string>{{ hydra_hostname }}</string>
    <key>CLUSTER</key>
    <string>{{ hydra_cluster_name }}</string>
    <key>ENVIRONMENT</key>
    <string>{{ hydra_environment }}</string>
    <key>OS</key>
    <string>{{ hydra_os }}</string>
    <key>GPU_PROVIDER</key>
    <string>{{ hydra_gpu_provider }}</string>
    <key>CHIP</key>
    <string>{{ hydra_chip | default('unknown') }}</string>
    <key>POOL</key>
    <string>{{ hydra_pools | join(',') }}</string>
    <key>OTEL_GATEWAY_PRIMARY</key>
    <string>{{ hydra_otel_gateway_primary }}</string>
    <key>OTEL_GATEWAY_SECONDARY</key>
    <string>{{ hydra_otel_gateway_secondary | default('') }}</string>
    <key>GOMAXPROCS</key>
    <string>2</string>
    <key>GOMEMLIMIT</key>
    <string>100MiB</string>
  </dict>
  <key>KeepAlive</key>
  <true/>
  <key>RunAtLoad</key>
  <true/>
  <key>StandardOutPath</key>
  <string>/var/log/hydra/otel-agent.log</string>
  <key>StandardErrorPath</key>
  <string>/var/log/hydra/otel-agent-error.log</string>
  <key>ThrottleInterval</key>
  <integer>10</integer>
</dict>
</plist>
