<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.hydra.apple-exporter</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/bin/apple-silicon-exporter</string>
    <string>--listen</string>
    <string>127.0.0.1:9101</string>
    <string>--enable-iokit</string>
    <string>--enable-powermetrics</string>
    <string>--enable-metal</string>
  </array>
  <key>KeepAlive</key>
  <true/>
  <key>RunAtLoad</key>
  <true/>
  <key>StandardOutPath</key>
  <string>/var/log/hydra/apple-exporter.log</string>
  <key>StandardErrorPath</key>
  <string>/var/log/hydra/apple-exporter-error.log</string>
</dict>
</plist>
